:root {
  --color-primary: #ff3501;
  --color-heading: #1d075f;
  --color-prime: #05d7ff;
  --color-font: #96919b;
  --color-imp: #2783ff;
  --color-dark-body: #5c5577;
}

/* Typography */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
body {
  color: var(--color-font);
  font-size: 1.7rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}
/* Headings */
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.7rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}

/* Common Block */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}
.block_header {
  text-align: center;
  margin-bottom: 4rem;
}
.block-dark {
  background: black;
  color: #7b858b;
}
.block-heading {
  margin-top: 0;
  color: #7b858b;
}
.block-dark .block-heading {
  color: white;
}
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 5rem);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 5rem);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
}

@media screen and (min-width: 1027px) {
  .block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 5rem);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

  .block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 5rem);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
  }
}

/* Links */
.arrow-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-primary);
  font-size: 1.7rem;
}
.arrow-link::after {
  content: "-->";
  margin-left: 6px;
  transition: margin 0.5s;
}
.arrow-link:hover::after {
  margin-left: 12px;
}

/* List */
.list {
  list-style: none;
  color: var(--color-heading);
  padding-left: 0;
}

.list--inline {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.list--tick {
  list-style: url(../images/tick.svg);
  margin-top: 1rem;
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .list--inline {
    font-size: 2rem;
  }
  .list--tick {
    font-size: 2rem;
  }
}

/* Button */
.btn--block {
  width: 100%;
  display: inline-block;
}
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: none;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--primary {
  background: var(--color-primary);
  color: white;
}
.btn--secondry {
  background: var(--color-prime);
  color: white;
  text-decoration: none;
}
.btn--by {
  background: white;
  color: var(--color-heading);
  border: 3px solid var(--color-heading);
  font-size: 1.3rem;
}

.btn--primary:hover {
  background: #ec3102;
}
.btn--secondry:hover {
  background: #04caf1;
}
.btn--by:hover {
  background: var(--color-heading);
  color: white;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
/* Icons */
.icon {
  width: 50px;
  height: 50px;
}
.icon-primary {
  background: #eee;
}
.icon-accent {
  background: var(--color-primary);
  fill: white;
}
.icon-container {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* inputs */
.search-container {
  text-align: center;
  margin: 10rem auto;
}
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}
.input-group {
  border-radius: 30px;
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

::placeholder {
  color: #cdcbd7;
  font-size: 1.5rem;
}
.input {
  border-radius: 30px;
  padding: 1.5rem 3.5rem;
  outline: none;
  color: var(--color-headings);
  font-size: 2rem;
}

.input-group .btn {
  margin: 4px;
}
.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.search-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .input {
    font-size: 1.5rem;
  }
  .search-list {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0;
  }
}

/* badges */
.badge {
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
  color: white;
}
.badge--primary {
  background: #1b69cf;
}
.badge--accent {
  background: #08d0f8;
}
@media screen and (min-width: 768px) {
  .badge {
    font-size: 1.5rem;
  }
}

/* Card */
.card {
  border-radius: 6px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  margin: 5rem auto;
  transition: all 0.3s;
  width: 80%;
  border: 0;
  outline: 0;
}
.card-header {
  position: relative;
  border-radius: 6px;
}
.card--primary .card-header::before {
  content: url(../images/popular.svg);
  width: 50px;
  float: right;
  margin-top: -2.5rem;
}
.card--primary {
  transform: scale(1.1);
}
.card--primary .card-header {
  background: var(--color-imp);
  color: white;
  padding: 2rem;
}
.card--secondary .card-header {
  background: var(--color-prime);
  color: white;
  padding: 2rem;
}
.plan-name {
  color: white;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 500;
}
.plan-price {
  display: inline-block;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.plan-duration {
  display: inline-block;
  font-size: 1.3rem;
}
.plan-description {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}
.card-body {
  padding: 1rem 2.5rem 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card:hover {
  transform: scale(1.1);
}
.card--primary:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .card-block.container {
    margin: 10rem auto;
  }
  .card {
    width: 95%;
  }
  .plan-name {
    font-size: 1rem;
  }
  .plan-price {
    font-size: 4rem;
  }
  .plan-duration {
    font-size: 1.3rem;
  }
  .plan-description {
    font-size: 1.3rem;
  }
}

/* Feature*/
.feature {
  gap: 5rem 3rem;
  margin: 12rem 0;
}
.feature:first-of-type {
  margin-top: 6rem;
}
.feature-content h3 {
  margin-bottom: 0;
}
.feature__heading {
  margin: 1rem 0;
}
.feature-content p {
  margin-top: 1rem;
}
.feature-image {
  width: 100%;
}
.icon-feature {
  fill: dodgerblue;
}
@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature-content {
    order: 2;
  }
  .feature-image {
    width: 100%;
  }
}
/* Grid */
.grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
}

@media screen and (min-width: 768px) {
  .grid_1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid_1x3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

/* Footer Card */
.callout {
  background: var(--color-imp);
  color: white;
  padding: 3rem;
  box-shadow: 0 0 0.8rem 0.1px #777;
}
.callout.container {
  margin-bottom: 2rem;
}
.callout--heading {
  color: white;
  font-size: 2.5rem;
}
.callout--content {
  text-align: center;
}
.btn--callout {
  width: 65%;
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .callout {
    z-index: 1;
    position: relative;
  }
  .callout.container {
    margin: 10rem auto -3rem auto;
  }
  .callout .grid_1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout--content {
    text-align: left;
  }
  .btn--callout {
    width: 100%;
    justify-self: self-start;
    margin-left: 0;
  }
}

/* collapsible */
.collapsible {
  padding: 2rem;
  transition: all 0.5s;
}
.collapsible header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}
.collapsible_heading {
  color: white;
  display: inline-block;
  margin-top: 0;
  font-size: 2rem;
}
.collapsible_icon {
  fill: white;
  height: 30px;
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible_content {
  max-height: 0;
  font-size: 1.5rem;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
  margin: 0;
}
.collapsible_content .list {
  margin: 0;
  padding-left: 0;
}
.call-list > li > a {
  color: #7b858b;
  text-decoration: none;
}
.call-list > li > a:hover {
  color: white;
}
.collapsible_expanded .collapsible_icon {
  transform: rotate(0);
}
.collapsible_expanded .collapsible_content {
  max-height: 100%;
  opacity: 1;
  margin: 0.5rem;
}
@media screen and (min-width: 768px) {
  .collapsible_icon {
    max-height: 0;
  }
  .collapsible_content {
    max-height: 100%;
    opacity: 1;
    transition: all 0.3s;
    margin: 0.5rem;
  }
}
/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* Navigation */
.nav {
  background: black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 50%;
}
.nav-logo-link {
  width: 170px;
}
.nav-icon {
  fill: white;
  display: inli170pxne-block;
  opacity: 0.5;
  transition: box-shadow 0.2s;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.nav_list.collapsible_content {
  width: 100vw;
  margin: 0;
}
.nav_item {
  border-bottom: 1px solid #222;
}
.nav_item a {
  color: #bbb;
  text-decoration: none;
}
.nav-link:hover {
  color: #fff;
}
.nav.collapsible_expanded .icon {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .nav {
    padding: 0;
  }
  .navbar_container {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-logo-link {
    width: 20vw;
  }
  .nav-icon {
    display: none;
  }
  .logo {
    margin: 1rem;
    width: 30%;
  }
  .nav_list {
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav_list.collapsible_content {
    width: 25vw;
  }
  .nav_item {
    margin: 0 2rem;
    border: 0;
  }
}

/* media */
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media_title {
  color: white;
  margin-top: 0;
}
.media_image {
  margin-top: 1rem;
}
.media_body {
  margin: 0 2rem;
}

/* Quote */
.quote-block {
  box-shadow: 0 0 1rem 2px #777;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.quote {
  font-style: italic;
  color: var(--color-dark-body);
  line-height: 1.3;
}
.quote-content {
  margin-top: 2rem;
}
.quote_text::before {
  content: open-quote;
}
.quote_text::after {
  content: close-quote;
}

.quote_author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-top: 0;
}

.quote_organization {
  color: var(--color-heading);
  opacity: 0.4;
  font-size: 2rem;
}
.quote-im-sv {
  padding-top: 1rem;
}
.quote-image {
  max-width: 95%;
  margin: 0 0.8rem;
}
.quote-footer {
  text-align: center;
}
.quote-line {
  margin: 0 auto;
}
.quote-im-sv .icon-container {
  margin-top: -3rem;
  margin-left: 12.5rem;
}

@media screen and (min-width: 1024px) {
  .quote-block {
    padding: 1.5rem;
  }
  .quote-content {
    margin-top: 10rem;
    margin-left: 5rem;
  }
  .quote {
    font-size: 2rem;
    margin: 0;
  }
  .quote_author {
    font-size: 2.5rem;
  }
  .quote_organization {
    font-size: 1.5rem;
  }
  .quote-footer {
    text-align: left;
  }
  .quote-image {
    width: 100%;
  }
  .quote-im-sv .icon-container {
    position: absolute;
    float: right;
    margin-top: 3rem;
    margin-left: -4rem;
  }
}

/* Footer */
.footer {
  background: #232323;
}
.footer_divs {
  border-bottom: 1px solid #383838;
}
.footer_heading {
  text-transform: uppercase;
}
.footer_branding {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.footer_branding img {
  max-width: 230px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding-top: 3rem;
  }
  .footer_divs {
    margin-top: 3rem;
  }
}
.collapsible_heading {
  font-size: 2rem;
}
.collapsible_content {
  font-size: 1.5rem;
}

/* Hero */
.block .container {
  margin: 0 auto;
}
.hero {
  padding-top: 1rem;
}
.hero_content {
  text-align: center;
  margin: 0;
  line-height: 1.2;
}
.hero_tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero-image {
  width: 100%;
  margin-top: 5rem;
}

@media screen and (min-width: 1024px) {
  .hero {
    padding: 15rem;
  }
  .block .container {
    margin: 2rem auto;
  }
  .hero_content {
    text-align: left;
    align-self: center;
    width: 40ch;
  }
  .hero-image {
    width: 100%;
  }
}

/* Showcase */
