:root {
  --color-primary: #ff3501;
  --color-heading: #1d075f;
  --color-prime: #05d7ff;
  --color-font: #96919b;
  --color-imp: #2783ff;
  --color-dark-body: #5c5577;
}

/* Typography */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
body {
  color: var(--color-font);
  font-size: 2.5rem;
  line-height: 1.5;
}
/* Headings */
h1,
h2,
h3 {
  color: var(--color-heading);
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.7rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}

/* Common Block */
.block-dark {
  background: black;
}

/* Links */
.arrow-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-primary);
  font-size: 1.7rem;
}
.arrow-link::after {
  content: "-->";
  margin-left: 6px;
  transition: margin 0.5s;
}
.arrow-link:hover::after {
  margin-left: 12px;
}

/* List */
.list {
  list-style: none;
  color: var(--color-heading);
}

.list--inline {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.6rem;
}

.list--tick {
  list-style: url(Icons/tick.svg);
  margin-top: 1rem;
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .list--inline {
    font-size: 2rem;
  }
  .list--tick {
    font-size: 3rem;
  }
}

/* Button */
.btn--block {
  width: 100%;
}
.btn {
  border: 0;
  font-size: 1.3rem;
  padding: 2rem 6rem;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  text-align: center;
  margin: 1rem;
}
.btn--primary {
  background: var(--color-primary);
  color: white;
}
.btn--secondry {
  background: var(--color-prime);
  color: white;
  text-decoration: none;
}
.btn--by {
  background: white;
  color: var(--color-heading);
  border: 3px solid var(--color-heading);
  font-size: 1.8rem;
}

.btn--primary:hover {
  background: #ec3102;
}
.btn--secondry:hover {
  background: #04caf1;
}
.btn--by:hover {
  background: var(--color-heading);
  color: white;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
/* Icons */
.icon-back {
  background: var(--color-primary);
  border-radius: 100%;
  padding: 1rem;
}
.icon {
  height: 50px;
  width: 50px;
  fill: var(--color-primary);
}
.icon--container {
  width: 50px;
  height: 50px;
}

/* inputs */
.input {
  border-radius: 30px;
  padding: 1.5rem 3.5rem;
  outline: none;
  color: var(--color-heading);
}

::placeholder {
  color: #cdcbd7;
}
.input-group {
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
}
.btn-search {
  width: auto;
}
.btn-search .icon {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 1rem;
  font-weight: 500;
}

/* badges */
.badge {
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  color: white;
}
.badge--primary {
  background: #1b69cf;
}
.badge--accent {
  background: #08d0f8;
}

/* JT Cards 
.card {
  border-radius: 6px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: white;
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}*/

/* Card */
.card {
  /* width: 95%; */
  border-radius: 10px;
  box-shadow: 0 0 1rem 1px #777;
  margin: 0 auto;
}
.card-header {
  position: relative;
  border-radius: 10px;
}
.icon-popular {
  position: absolute;
  margin-right: -7rem;
  margin-top: -2.5rem;
  right: 0;
  height: 100px;
  overflow: hidden;
}
.card--primary .card-header {
  background: var(--color-imp);
  color: white;
  padding: 2rem;
}
.card--secondary .card-header {
  background: var(--color-prime);
  color: white;
  padding: 2rem;
}
.plan-name {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}
.plan-price {
  display: inline-block;
  font-size: 5rem;
  margin-bottom: 1.5rem;
}
.plan-duration {
  display: inline-block;
  font-size: 1.5rem;
}
.plan-description {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.card-body {
  padding: 2.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .card {
    width: 25%;
  }
}

/* Feature*/
.feature {
  gap: 5rem 3rem;
}
.feature-content h3 {
  margin-bottom: 0;
}
.feature-content p {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature-content {
    order: 2;
  }
}
/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid_1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Footer Card */
.callout {
  background: var(--color-imp);
  color: white;
  padding: 3rem;
}
.callout--heading {
  color: white;
  font-size: 2.5rem;
}
.callout--content {
  text-align: center;
  font-size: 1.2rem;
}
.btn--callout {
  width: 65%;
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .callout .grid_1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout--content {
    text-align: left;
  }
  .btn--callout {
    width: 100%;
    justify-self: self-start;
    margin-left: 0;
  }
}

/* collapsible */
.collapsible {
  padding: 2rem;
  transition: all 0.3s;
}
.collapsible header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}
.collapsible_heading {
  color: white;
  display: inline-block;
  margin-top: 0;
  font-size: 2rem;
}
.collapsible_icon {
  fill: white;
  height: 30px;
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible_content {
  max-height: 0;
  font-size: 1.5rem;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
  margin: 0;
}
.collapsible_expanded .collapsible_icon {
  transform: rotate(0);
}
.collapsible_expanded .collapsible_content {
  max-height: 100%;
  opacity: 1;
  margin: 0.5rem;
}
@media screen and (min-width: 768px) {
  .collapsible_icon {
    max-height: 0;
  }
  .collapsible_content {
    max-height: 100%;
    opacity: 1;
    transition: all 0.3s;
    margin: 0.5rem;
  }
}

/* Container */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation */
.navbar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  height: 4rem;
  width: 6rem;
}
.navbar_links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-link {
  color: #bbb;
  text-decoration: none;
  font-size: 1rem;
  margin: 1rem;
}
.nav-link:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .navbar_container {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    margin-left: 1rem;
  }
  .navbar_links {
    flex-direction: row;
  }
  .nav-link {
    font-size: 1.5rem;
  }
}

/* media */
.media {
  display: flex;
  padding: 2rem;
}
.media_title {
  margin-top: 0;
  color: white;
}
.media_body {
  margin: 0 2rem;
}

/* Quote */
.quote-block {
  box-shadow: 0 0 1rem 2px #777;
}
.quote {
  font-style: italic;
  color: var(--color-dark-body);
  line-height: 1.3;
}
.quote_text::before {
  content: open-quote;
}
.quote_text::after {
  content: close-quote;
}

.quote_author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-top: 0;
}

.quote_organization {
  color: var(--color-heading);
  opacity: 0.4;
  font-size: 2rem;
}
.quote-image {
  position: relative;
}
.quote-image .icon {
  fill: white;
  float: right;
  margin-left: -2.5rem;
  margin-top: 3rem;
  position: absolute;
}

@media screen and (min-width: 1024px) {
  .quote-block {
    padding: 3rem;
  }
  .quote-content {
    margin-left: 5rem;
  }
  .quote {
    font-size: 2rem;
    margin: 0;
  }
  .quote_author {
    font-size: 2.5rem;
  }
  .quote_organization {
    font-size: 1.5rem;
  }
  .grid_1x2 {
    grid-template-columns: auto 1fr;
  }
}

/* Footer */
.footer_heading {
  text-transform: uppercase;
}
.footer_branding {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding-top: 3rem;
  }
  .footer_divs {
    margin-top: 3rem;
  }
}
.collapsible_heading {
  font-size: 2rem;
}
.collapsible_content {
  font-size: 1.5rem;
}
