:root {
  --color-primary: #ff3501;
  --color-heading: #1d075f;
  --color-prime: #05d7ff;
  --color-font: #96919b;
  --color-imp: #2783ff;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
body {
  color: var(--color-font);
  font-size: 2.5rem;
}
/* Headings */
h1,
h2,
h3 {
  color: var(--color-heading);
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
}
@media screen and (min-width: 1024px) {
}

/* Links */
.arrow-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-primary);
  font-size: 1.7rem;
}
.arrow-link::after {
  content: "-->";
  margin-left: 6px;
  transition: margin 0.5s;
}
.arrow-link:hover::after {
  margin-left: 12px;
}
