:root {
  --color-primary: #ff3501;
  --color-heading: #1d075f;
  --color-prime: #05d7ff;
  --color-font: #96919b;
  --color-imp: #2783ff;
}

/* Typography */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
body {
  color: var(--color-font);
  font-size: 1.5rem;
}
/* Headings */
h1,
h2,
h3 {
  color: var(--color-heading);
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
}
@media screen and (min-width: 1024px) {
}

/* Links */
.arrow-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-primary);
  font-size: 1.7rem;
}
.arrow-link::after {
  content: "-->";
  margin-left: 6px;
  transition: margin 0.5s;
}
.arrow-link:hover::after {
  margin-left: 12px;
}

/* List */
.list {
  list-style: none;
  color: var(--color-heading);
}

.list--inline {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.6rem;
}

.list--tick {
  list-style: url(Icons/tick.svg);
  margin-top: 1rem;
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .list--inline {
    font-size: 2rem;
  }
  .list--tick {
    font-size: 3rem;
  }
}

/* Button */
.btn {
  border: 0;
  font-size: 1.3rem;
  padding: 2rem 3rem;
  width: 100%;
  border-radius: 40px;
  text-transform: uppercase;
}
.btn--primary {
  background: var(--color-primary);
  color: white;
}
.btn--secondry {
  background: var(--color-prime);
  color: white;
  text-decoration: none;
}
.btn--by {
  background: white;
  color: var(--color-heading);
  border: 3px solid var(--color-heading);
  font-size: 1.8rem;
}

.btn--primary:hover {
  background: #ec3102;
}
.btn--secondry:hover {
  background: #04caf1;
}
.btn--by:hover {
  background: var(--color-heading);
  color: white;
}
/* Icons */
.icon-back {
  background: orange;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  padding: 1rem;
  color: white;
}
.icon {
  height: 30px;
  width: 30px;
}

/* inputs */
.input {
  border-radius: 30px;
  padding: 1.5rem 3.5rem;
  outline: none;
  color: var(--color-heading);
}

::placeholder {
  color: #cdcbd7;
}
.input-group {
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
}
.btn-search {
  width: auto;
}
.btn-search .icon {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 1rem;
  font-weight: 500;
}

/* badges */
.badge {
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  color: white;
}
.badge--primary {
  background: #1b69cf;
}
.badge--accent {
  background: #08d0f8;
}

/* Card */
.card {
  width: 25%;
  border: 1px solid;
  border-radius: 10px;
}
.card-header {
  position: relative;
}
.icon-popular {
  position: absolute;
  margin-right: -7rem;
  margin-top: -2.5rem;
  right: 0;
  height: 100px;
  overflow: hidden;
}
.card--primary .card-header {
  background: var(--color-imp);
  color: white;
  padding: 2rem;
}
.card--secondary .card-header {
  background: var(--color-prime);
  color: white;
  padding: 2rem;
}
.plan-name {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}
.plan-price {
  display: inline-block;
  font-size: 5rem;
  margin-bottom: 1.5rem;
}
.plan-duration {
  display: inline-block;
  font-size: 1.5rem;
}
.plan-description {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.card-body {
  padding: 2.5rem;
  margin-bottom: 1rem;
}

/* Feature Content */
.feature--content h3 {
  margin-bottom: 0;
}
.feature--content .text {
  margin-top: 1rem;
}
.atyare {
  width: 50vw;
}

/* Grid */
.grid {
  display: grid;
}
/* .grid_1x2 {
  grid-template-columns: repeat(2, 1fr);
} */

/* Footer Card */
.callout {
  background: var(--color-imp);
  color: white;
  padding: 3rem;
}
.callout--heading {
  color: white;
  font-size: 2.5rem;
}
.callout--content {
  text-align: center;
  font-size: 1.2rem;
}
.btn--callout {
  width: 65%;
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .callout .grid_1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout--content {
    text-align: left;
  }
  .btn--callout {
    width: 100%;
    justify-self: self-start;
    margin-left: 0;
  }
}
